<div class="layout">

  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>BANCO</h2>

    <nav>
      <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
      <a routerLink="/cuentas" routerLinkActive="active">Cuentas</a>
      <a routerLink="/movimientos" routerLinkActive="active">Movimientos</a>
      <a routerLink="/reportes" routerLinkActive="active">Reportes</a>
    </nav>
  </aside>

  <!-- Contenido principal -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>