/* You can add global styles to this file, and also import other style files */
@import './app/shared/styles/shared.scss';

/* Formulario */
.form {
  max-width: 700px;
}

/* Cada fila en dos columnas */
.form-row {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
}

.form-row label {
  font-weight: 500;
}

.form-row input,
.form-row select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

/* Botones */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 24px;
}